<ul class="mt-5">
  {{range .Todos}}

  <li class="border-b border-gray-200 py-2 flex justify-between items-center">
    <button
      hx-delete="/todo/remove/{{.ID}}"
      hx-confirm="Are you sure you want to delete this task?"
      hx-target="#todos-list"
      hx-swap="outerHTML"
      class="text-red-500 hover:text-red-600"
    >
      Delete
    </button>
    <span
      class="{{if .Completed}}line-through text-gray-400{{else}}text-gray-700{{end}}"
      >Task: {{.Task}}</span
    >
    <input
      type="checkbox"
      {{if.Completed}}
      checked
      {{end}}
      hx-post="/todo/checkbox"
      hx-target="this"
      name="completed"
    />
  </li>

  {{end}}
</ul>
